<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>Contact List</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="js/angular.js"></script>
    <script src="js/contact.js"></script>
</head>

<div ng-app="instantSearch" ng-controller="ContactListController">
    <body>
        <div class="login">
            <div><i style="float:left; margin-top:-10px; margin-left:20px" class="icon-book icon-3x"></i>
                <h1 ng-bind="nome"></h1>
            </div>
            <div class="input">
                <div class="blockinput">
                    <i class="icon-search"></i>
                    <input type="text" ng-model="searchString" placeholder="Procurar" />
                </div>
            </div>
            <div class="container" ng-repeat="contato in contatos | searchFor:searchString" ng-click="toggleActive(contato)" ng-class="{active:contato.active}">
                <br>
                <div class="right"><a href="test.html"><i class="close icon-remove"></i></a>
                </div>
                <div class="left"><i class="icon-phone"> </i> {{contato.name}}</div>
                <div class="middle">{{contato.telefone}}</div>

            </div>
            </br>
            </br>

            <div class="input">
                <div class="blockinput">
                    <i class="icon-user"></i>
                    <input type="text" ng-model="contato.name" placeholder="Nome"></input>
                </div>

                <div class="blockinput">
                    <i class="icon-phone"></i>
                    <input type="text" ng-model="contato.telefone" placeholder="Telefone"></input>
                </div>
            </div>
            <button ng-disabled="!(contato.name && contato.telefone)" ng-click="adicionar(contato)">Adicionar</button>
        
    </body>
    </div>
</html>
