<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <title>
            Restaurant List 
        </title>
        <script src="js/angular.js"></script>
        <script src="js/angular-locale_pt-br.js"></script>
        <script src="js/restaurant.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body ng-app ng-controller="RestaurantController">
        <div class="panel panel-default" >
            <div class="panel-heading">Menu</div>
            <div class="panel-body">
                <input type="text" placeholder="Search Menu:" ng-model="searchString"/>
                <br></br>
                 <table class="table-bordered table-striped table-condensed">
                      <thead>
                          <tr>
                              <th>Nome</th>
                              <th></th>
                              <th>Descrição</th>
                              <th class="numeric">Preço</th>
                          </tr>
                      </thead>
                        <tbody>
                            <tr ng-repeat="(id, item) in menu | filter:searchString">
                                <td> {{ item.name }} </td>
                                <td ng-show="!item.show" class="glyphicon glyphicon-plus" ng-click="show(item)"></td>
                                <td ng-show="item.show" class="glyphicon glyphicon-minus" ng-click="show(item)"></td>
                                <td ng-show="item.show">
                                    {{ item.description }}
                                </td>
                                <td ng-show="item.show">
                                  {{ item.price | currency }}
                                </td>
                            </tr>
                        </tbody>
                  </table>
              </div>
        </div>
                  
        <div class="panel panel-default" >
            <div class="panel-heading">Tables</div>
            <div class="mesa">
                <ul class="nav nav-pills">
                    <li class="active" ng-repeat="(mesa, pedidos) in orders"  ng-click=><a href="#mesa{{ mesa }}">Mesa {{ mesa }}</a></li>
                </ul>
            </div>
            <div class="panel-body" ng-repeat="(mesa, pedidos) in orders"  class="mesa">
                <ul class="nav nav-pills">
                    <li class="active"><a name="mesa{{ mesa }}">Mesa {{ mesa }}</a></li>
                </ul>
                <br>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="total(mesa)">Ver Total</button>
                    <button type="button" class="btn btn-default" ng-click="close(mesa)">Fechar Mesa</button>
                </div>
                </br>
                <table style="text-align: right;" class="table-bordered table-striped table-condensed">
                  <br>
                  <thead>
                       <tr>
                          <th colspan="2">Item</th>
                          <th>Quantidade</th>
                          <th>Preço</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                    <tbody>
                        <tr ng-repeat="item in pedidos.items">
                            <td> {{ $index +1 }} </td>
                            <td> {{ menu[item.id].name }} </td>
                            <td> {{ item.quantity }} </td>
                            <td> {{ menu[item.id].price | currency}} </td>
                            <td> {{ menu[item.id].price * item.quantity | currency}} </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
                        
            <div ng-repeat="(mesa, pedidos) in orders" data-role="collapsible" data-collapsed-icon="flat-eye" data-expanded-icon="flat-cross" data-collapsed="true">
                            <h3>
                                <fieldset class="ui-block-a" style="width:30%;">
                                    <div class="ui-block-a extra-block-a">
                                        Mesa: {{ mesa }}
                                    </div>
                                    <div class="ui-block-b extra-block-a"> 
                                    </div>
                                </fieldset>
                                <fieldset class="ui-block-b">
                                    <div class="ui-block-b">
                                        <button data-theme="d" ng-click="total(mesa)">Ver Total</button>
                                    </div>
                                    <div class="ui-block-b"> 
                                      
                                    </div>
                                </fieldset>
                            </h3>
                            <ul data-role="listview" data-inset="true">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <!-- ORDERS -->
                <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                    <div data-role="collapsible" data-collapsed-icon="flat-settings" data-expanded-icon="flat-cross" data-collapsed="false">
                        <h3>Orders</h3>
                        <p></p>
                        <div data-role="fieldcontain">
                            <select name="select-choice" id="select-choice-a" data-native-menu="true" data-theme="d" ng-model="mesa" ng-options="mesa for (mesa, pedidos) in orders">
                                <option value="">Selecione o mesa</option>
                            </select>
                            <select name="select-choice" id="select-choice-b" data-native-menu="true" data-theme="d" ng-model="item" ng-options="item.name for (id, item) in menu">
                                <option value="">Selecione o item do cardápio</option>
                            </select>
                            Estou aqui:
                            {{ mesa }}
                            {{ item }}
                            <button data-icon="flat-new" data-theme="a" style="color:2c3e50;background:#2c3e50" 
                                    ng-click="order(mesa, item)">Fazer pedido!</button>
                        </div>
                    </div>
                </div>
     
            </div>
        </div>
    </body>
</html>