<div  class="panel panel-success" >
    <div class="panel-heading">Menu</div>
    <div class="panel-body">
        <input type="text" placeholder="Search Menu:" ng-model="searchString"/>
        <br></br>
         <div class="panel panel-success" style="padding:1%">
         <table class="table-striped table-bordered table-condensed">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th></th>
                      <th>Descrição</th>
                      <th class="numeric">Preço</th>
                  </tr>
              </thead>
                <tbody>
                    <tr ng-repeat="(id, item) in menu | filter:searchString">
                        <td>{{ $index +1 }}</td>
                        <td><div class="nav nav-pills"> {{ item.name }}</div> </td>
                        <td ng-show="!item.show" class="glyphicon glyphicon-plus" ng-click="show(item)"></td>
                        <td ng-show="item.show" class="glyphicon glyphicon-minus" ng-click="show(item)"></td>
                        <td ng-show="item.show">
                            {{ item.description }}
                        </td>
                        <td ng-show="item.show">
                          {{ item.price | currency }}
                        </td>
                    </tr>
                </tbody>
          </table>
          </div>
      </div>
</div>