<div  class="panel panel-success">
    <div class="panel-heading">Tables</div>
    <div class="panel-body" ng-repeat="(mesa, pedidos) in orders"  class="mesa">

        <div class="panel panel-success" style="padding:1%">
         <button class="btn btn-lg btn-success form-control" style="height:10%"> <span class="glyphicon glyphicon-shopping-cart">&nbsp</span>Mesa {{ mesa }}</button>
        <br>

        </br>
        <table style="text-align: right;" class="table-bordered table-striped table-condensed">
          <br>
          <thead>
               <tr>
                  <th>#</th>
                  <th style="text-align: left;">Item</th>
                  <th>Quantidade</th>
                  <th>Preço</th>
                  <th>Total</th>
              </tr>
          </thead>
            <tbody>
                <tr ng-repeat="item in pedidos">
                    <td> {{ $index +1 }} </td>
                    <td> {{ menu[item.id].name }} </td>
                    <td> {{ item.quantity }} </td>
                    <td> {{ menu[item.id].price | currency}} </td>
                    <td> {{ menu[item.id].price * item.quantity | currency}} </td>
                </tr>
            </tbody>
          </table>
            <br>
          <button type="button" class="btn btn-default form-control btn-lg" style="height:10%" ng-click="total(mesa)">
              <span class="glyphicon glyphicon-usd">&nbsp</span>{{ total(mesa) }}
          </button>
          <button type="button" class="btn btn-danger form-control btn-lg" style="height:10%" ng-click="close(mesa)">
              <span class="glyphicon glyphicon-ok-sign">&nbsp</span>Close
          </button>

        </div>  
    </div>
</div>