<div  class="panel panel-success" >
    <div class="panel-heading">Orders</div>

    <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <input id="newTable" placeholder="#" type="text" class="form-control" ng-model="new">
              <span class="input-group-btn">
                <button class="btn btn-success btn" id="newTableBtn" type="button" ng-click="newTable(new)">Nova Mesa</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        </br>
        <select class="form-control" ng-model="mesa" ng-options="mesa for (mesa, pedidos) in orders">
            <option value="">Select table</option>
        </select>
        <select class="form-control" ng-model="item" ng-options="item.name for (id, item) in menu">
            <option value="">Select menu item</option>
        </select>

    <br>
    <button class="btn btn-lg btn-success form-control" style="height:10%" ng-click="order(mesa, item.id)">Fazer pedido!</button>

    </div>
</div>